@use 'variables' as *;

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-base-small;

    .footer-text {
        font-size: $text-small;
        font-weight: 400;
        color: $primary-text-color;
        text-align: center;
    }

    .clear-cache-button {
        width: fit-content;
    }
}