.custom-tooltip {
    position: absolute;
    display: none;
    background-color: #222;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    max-width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
}