$breakpoint-mobile: 768px;
$breakpoint-tablet-min: 769px;
$breakpoint-tablet-max: 1024px;

$text-big: 60px;
$text-medium: 40px;
$text-small: 16px;

$text-big-tablet: 44px;        
$text-medium-tablet: 28px;     

$text-big-mobile: 36px;        
$text-medium-mobile: 20px;    
$text-small-mobile: 12px;      

$text-medium-mobile-comic: 24px;  
$text-small-mobile-button: 12px;  
$text-medium-tablet-comic: 32px;  

$primary-bg-color: #f5f5f5;

$radius-b: 20px;

$primary-element-color: #6e7b91;
$primary-text-color: #333;

$padding-base: 16px;
$padding-base-small: 8px;
$margin-base: 16px;
$margin-base-small: 8px;
$gap-base: 16px;
$gap-base-small: 8px;
